<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to fazbook</h1>
    <a href="/users/new">Create new user</a>
    <br>
    <br>
    <% users.forEach(function(user) { %>
      <div>
        <span><%= user.firstName %></span>
        <span><%= user.lastName %></span>
        <a href="<%= '/users/show/' + user.id %>">Visit user page</a>
<!--         <form action="<%= '/users/' + user.id + '?_method=DELETE' %>" method="POST">
          <button type="submit" value="X">Delete User</button>
        </form> -->
        <br>
        <br>
      </div>
  <%  }) %>
  </body>
</html>
