<!DOCTYPE html>
<html>
  <head>
    <title><% title %></title> <!-- referenced line 43 of users.js -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to fazbook</h1>
    <br>
    <br>
    <a href="/users">Home</a>
    <br>
    <br>
      <div>
        <span><%= user.firstName %></span>
        <span><%= user.lastName %></span>
        <span><%= user.email %></span>
        <span><%= user.dob %></span>
        <br>
        <br>
        <a href="<%= '/users/' + user.id + '/edit' %>">Edit User Info</a>
        <br>
        <br>
        <form action="<%= '/users/' + user.id + '?_method=DELETE' %>" method="POST">
          <button type="submit">Delete User</button>
        </form>
      </div>
  </body>
</html>
